<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Show Stores</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 7 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    .success-box {
      background-color: #dff0d8;
      border-color: #d6e9c6;
      color: #3c763d;
    }
    .error-box {
      background-color: #f8d7da;
      border-color: #f5c6cb;
      color: #721c24;
    }
    .message-box {
      padding: 10px;
      margin-top: 10px;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <%- include('./header.ejs') %>
    <%- include('./sidebar.ejs') %>
      <main id="main" class="main">
        <div class="pagetitle">
          <h1>Stores</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Show Stores</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->
        <div>
        </div>
        <section class="section">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Show Store</h5>
                  <div id="store" class="message-box"></div>
                  <form id="myForm" action="/showstores" method="GET">
                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>Domain</th>
                          <!-- <th data-type="date" data-format="YYYY/MM/DD">Created Date</th>
                <th data-type="date" data-format="YYYY/MM/DD">Updated Date</th> -->
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% stores.forEach(store=> { %>
                          <tr>
                            <td>
                              <%= store.id %>
                            </td>
                            <td>
                              <%= store.store_name %>
                            </td>
                            <td>
                              <%= store.domain_name %>
                            </td>
                            <!-- <td><%= store.created %></td>
                        <td><%= store.updated %></td> -->
                            <td>
                              <a href="/updatestores?storeId=<%= store.id %>" style="color: green;">Edit</a>
                              <a href="/deletestore?storeId=<%= store.id %>" data-bs-toggle="modal"
                                data-bs-target="#confirmDeleteModal" class="delete" data-id="<%= store.id %>"
                                style="color: red;">Delete</a>
                            </td>
                          </tr>
                          <% }); %>
                      </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main><!-- End #main -->
      <!-- Confirm Delete Modal -->
      <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this store?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <!-- ======= Footer ======= -->
      <%- include('./footer.ejs') %>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
        <!-- Vendor JS Files -->
        <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/vendor/chart.js/chart.umd.js"></script>
        <script src="assets/vendor/echarts/echarts.min.js"></script>
        <script src="assets/vendor/quill/quill.min.js"></script>
        <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
        <script src="assets/vendor/tinymce/tinymce.min.js"></script>
        <script src="assets/vendor/php-email-form/validate.js"></script>
        <!-- Template Main JS File -->
        <script src="assets/js/main.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
          $(document).ready(function () {
            $('.delete').click(function (event) {
              event.preventDefault();
              var storeId = $(this).data('id');
              console.log('store ID:', storeId);
              $('#confirmDeleteBtn').click(function () {
                $.ajax({
                  type: 'POST',
                  url: '/deletestore',
                  contentType: 'application/json',
                  data: JSON.stringify({ storeId: storeId }),
                  success: function (response) {
                    $('#store').removeClass('error-box').addClass('success-box').text(response.message);
                    setTimeout(function () {
                      window.location.href = '/showstores';
                    }, 2000);
                  },
                  error: function (xhr, status, error) {
                    $('#store').removeClass('success-box').addClass('error-box').text(xhr.responseJSON.error);
                  }
                });
                $('#confirmDeleteModal').modal('hide');
              });
            });
          });
        </script>
</body>
</html>