<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Update Blog Post</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <style>
        .tags-input-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            border: 1px solid #ced4da;
            border-radius: 4px;
            padding: 4px;
        }

        .tag {
            display: flex;
            align-items: center;
            background-color: #007bff;
            color: white;
            border-radius: 3px;
            padding: 2px 8px;
            margin: 2px;
        }

        .tag i {
            margin-left: 5px;
            cursor: pointer;
        }

        .tags-input-container input {
            border: none;
            flex: 1;
            padding: 4px;
        }

        .tags-input-container input:focus {
            outline: none;
        }

        .tag-message-box {
            color: red;
        }

        .success-box {
            background-color: #dff0d8;
            border-color: #d6e9c6;
            color: #3c763d;
        }

        .error-box {
            background-color: #f8d7da;
            border-color: #f5c6cb;
            color: #721c24;
        }

        .message-box {
            padding: 10px;
            margin-top: 10px;
            border-radius: 5px;
        }

        .img-preview {
            max-width: 100%;
            max-height: 200px;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <%- include('./header.ejs') %>
        <%- include('./sidebar.ejs') %>
            <main id="main" class="main">
                <div class="pagetitle">
                    <h1>Blog Post</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Update Blog Post</li>
                        </ol>
                    </nav>
                </div>
                <section class="section dashboard">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div id="blogpost" class="message-box"></div>
                                    <h5 class="card-title">Update Blog Post</h5>
                                    <form class="row g-3" action="/updateblogpost?blogpostId=<%= blogpost.id %>"
                                        id="updateblogpost" method="POST" enctype="multipart/form-data">
                                        <% blogpost.forEach(blogpostItem=> { %>
                                            <input type="hidden" name="id" value="<%= blogpostItem.id %>">
                                            <div class="col-12">
                                                <label for="stores" class="form-label">Stores</label>
                                                <% stores.forEach((store, index)=> { %>
                                                    <div class="form-check">
                                                        <input class="form-check-input" id="stores" type="checkbox"
                                                            name="storeId[]" value="<%= store.id %>" <% if
                                                            (blogpostItem.storeId.split(',').includes(String(store.id)))
                                                            { %>
                                                        checked <% } %>>
                                                            <label class="form-check-label">
                                                                <%= store.store_name %>
                                                            </label>
                                                    </div>
                                                    <% }); %>
                                            </div>
                                            <div class="col-12">
                                                <label for="stores" class="form-label">Blog Categories:</label>
                                                <% blogcat.forEach((blogcat, index)=> { %>
                                                    <div class="form-check">
                                                        <input class="form-check-input" id="blogpost" type="checkbox"
                                                            name="blogcatId[]" value="<%= blogcat.id %>" <% if
                                                            (blogpostItem.blogcatId.split(',').includes(String(blogcat.id)))
                                                            { %>
                                                        checked <% } %>>
                                                            <label class="form-check-label">
                                                                <%= blogcat.CatName %>
                                                            </label>
                                                    </div>
                                                    <% }); %>
                                            </div>
                                            <div class="col-12">
                                                <label for="title" class="form-label">Title:</label>
                                                <input type="text" class="form-control" id="title" name="title"
                                                    value="<%= blogpostItem.title %>">
                                            </div>
                                            <div class="col-12">
                                                <label for="description" class="form-label">Description:</label>
                                                <textarea class="form-control" id="description"
                                                    name="description"><%= blogpostItem.description %></textarea>
                                            </div>
                                            <div class="mb-3">
                                                <label for="tags-input" class="form-label">Tags:</label>
                                                <div class="tags-input-container">
                                                    <input type="text" id="tags-input" placeholder="Add a tag" />
                                                </div>
                                                <input type="hidden" id="tags" name="tags">
                                                <div id="tag-limit-message" class="tag-message-box"></div>
                                            </div>
                                            <div class="col-12">
                                                <label for="inputBlogpostImage" class="form-label">blogpost
                                                    Image</label>
                                                <input type="file" class="form-control" id="inputBlogpostImage"
                                                    name="blogimages">
                                                <img id="currentImage" class="img-preview"
                                                    src="/uploads/<%= blogpostItem.blogimages %>"
                                                    alt="Current blogpost Image">
                                                <img id="imagePreview" class="img-preview" src="#"
                                                    alt="Selected Image Preview" style="display: none;">
                                            </div>
                                            <div class="mb-3">
                                                <label for="videoEmbedCode" class="form-label">Video Embed Code:</label>
                                                <input type="text" value="<%= blogpostItem.videoEmbedCode %>"
                                                    class="form-control" id="videoEmbedCode" name="videoEmbedCode">
                                            </div>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
                                                    data-bs-target="#confirmModal">Submit</button>
                                                <button type="reset" class="btn btn-secondary">Reset</button>
                                            </div>
                                            <% }); %>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <!-- Confirm  Modal -->
            <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmModalLabel">Confirm Edit</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to Edit this blog post?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-success" id="confirmBtn">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('./footer.ejs') %>
                <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                        class="bi bi-arrow-up-short"></i></a>
                <div id="tags-data" data-tags='<%- JSON.stringify(blogpost[0].tags.split(",")) %>'></div>
                <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
                <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
                <script src="assets/vendor/chart.js/chart.umd.js"></script>
                <script src="assets/vendor/echarts/echarts.min.js"></script>
                <script src="assets/vendor/quill/quill.min.js"></script>
                <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
                <script src="assets/vendor/tinymce/tinymce.min.js"></script>
                <script src="assets/vendor/php-email-form/validate.js"></script>
                <script src="assets/js/main.js"></script>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                    $(document).ready(function () {
                        $('#inputBlogpostImage').change(function (event) {
                            var input = event.target;
                            var reader = new FileReader();
                            reader.onload = function () {
                                var dataURL = reader.result;
                                $('#imagePreview').attr('src', dataURL).show();
                                $('#currentImage').attr('src', dataURL).hide();
                            };
                            reader.readAsDataURL(input.files[0]);
                        });

                        $('#updateblogpost').submit(function (event) {
                            event.preventDefault();
                            var formData = new FormData(this);
                            const tags = document.getElementById('tags').value.split(',').map(tag => tag.trim());
                            tags => formData.append('tags[]', tag);

                            for (let [key, value] of formData.entries()) {
                                console.log(`${key}: ${value}`);
                            }
                            $('#confirmBtn').click(function () {
                                $.ajax({
                                    type: 'POST',
                                    url: '/updateblogpost',
                                    data: formData,
                                    contentType: false,
                                    processData: false,
                                    success: function (response) {
                                        $('#blogpost').removeClass('error-box').addClass('success-box').text(response.message);
                                        setTimeout(function () {
                                            window.location.href = '/showblogpost';
                                        }, 2000);
                                    },
                                    error: function (xhr, status, error) {
                                        $('#blogpost').removeClass('success-box').addClass('error-box').text(xhr.responseJSON.error);
                                    }
                                });
                                $('#confirmModal').modal('hide');
                            });
                        });

                        tinymce.init({
                            selector: '#description',
                            plugins: 'link image code lists fontsize textcolor',
                            toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | fontsizeselect | forecolor backcolor | code',
                            fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt'
                        });

                        let tags = JSON.parse($('#tags-data').attr('data-tags')) || [];
                        const maxTags = 10;

                        function addTag(tag) {
                            if (tags.length >= maxTags) {
                                $('#tag-limit-message').text('You can only add up to 10 tags.');
                                return;
                            }
                            tag = tag.startsWith('#') ? tag : '#' + tag;
                            if (tags.includes(tag)) return;
                            tags.push(tag);
                            $('#tags').val(tags.join(','));
                            updateTagsDisplay();
                            $('#tag-limit-message').text('');
                        }

                        function removeTag(tag) {
                            tags = tags.filter(t => t !== tag);
                            $('#tags').val(tags.join(','));
                            updateTagsDisplay();
                        }

                        function updateTagsDisplay() {
                            $('.tags-input-container .tag').remove();
                            tags.forEach(tag => {
                                $('.tags-input-container').prepend(`
                        <span class="tag">
                          ${tag}
                          <i class="fas fa-times" onclick="removeTag('${tag}')"></i>
                        </span>
                    `);
                            });
                        }

                        $('#tags-input').on('keypress', function (e) {
                            if (e.which === 44 || e.which === 13) {  // Comma (,) or Enter key
                                e.preventDefault();
                                const tag = $(this).val().trim();
                                if (tag) {
                                    addTag(tag);
                                }
                                $(this).val('');
                            }
                        });

                        updateTagsDisplay();
                        window.removeTag = removeTag;
                    });
                </script>
</body>

</html>